.btn {
    &-submit {
        &--social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;

        }
    }
}

.btn-add-block {
    @apply  border border-dashed flex items-center justify-center p-7 w-full;
}
