.btn {
    &-submit {
        &--social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;

        }
    }
}

.btn-add-block {
    border:1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    min-height: 40px;
}
