.slide {
    @apply hidden lg:flex items-center relative w-full h-full z-10;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
        text-align: center;
    }

    &__para {
        text-align: center;
        padding:0 7rem;

    }

    &__pagination {
        .swiper-pagination-bullet-active {
            background: $cl-primary;
        }
    }
}

.slide__login {
    .slide__item {
        background: transparent;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .slide__img {
        fill: $cl-primary;
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100%;
        max-height: 450px;
    }
}
