#app {
    height: 100%;
}


.overlay {
    background-color: $cl-dark;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 99;
}

.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-align-center {
        align-items: center;
    }

    &-start {
        align-items: center;
        justify-content: flex-start;
    }

    &-end {
        align-items: center;
        justify-content: flex-end;
    }

    &-center {
        align-items: center;
        justify-content: center;
    }

    &-center-space {
        align-items: center;
        justify-content: space-between;
    }
}

.text-center{
    text-align: center;
}

.w-100{
    width: 100%;
}
