#app {
  height: 100%;
}

// Ant design
.ant-layout {
  min-height: 100%;
  overflow: auto;
}

.ant-btn,
textarea.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-select-dropdown,
.ant-dropdown-menu,
.ant-notification-notice {
  border-radius: 6px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 6px;
}

.w-100 {
  width: 100%;
}

.notify {
  &__icon-success,
  &__icon-error,
  &__icon-warning {
    width: 28px;
  }

  &__icon-success {
    fill: $cl-green;
  }

  &__icon-error {
    fill: $cl-red;
  }

  &__icon-warning {
    fill: $cl-yellow;
  }

  &__close {
    fill: $cl-text;
    width: 24px;
  }
}

.overlay{
    background-color: $cl-dark;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: .4;
    z-index: 99;
}

.flex{
    display: flex;

    &-center{
        align-items: center;
        justify-content: center;
    }

    &-center-space{
        align-items: center;
        justify-content: space-between;
    }
}
