#app {
  height: 100%;
}



.w-100 {
  width: 100%;
}

.notify {
  &__icon-success,
  &__icon-error,
  &__icon-warning {
    width: 28px;
  }

  &__icon-success {
    fill: $cl-green;
  }

  &__icon-error {
    fill: $cl-red;
  }

  &__icon-warning {
    fill: $cl-yellow;
  }

  &__close {
    fill: $cl-text;
    width: 24px;
  }
}

.overlay{
    background-color: $cl-dark;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: .4;
    z-index: 99;
}

.flex{
    display: flex;

    &-center{
        align-items: center;
        justify-content: center;
    }

    &-center-space{
        align-items: center;
        justify-content: space-between;
    }
}

.w{
    &-40{
        width: 40px;
    }
    &-50{
        width: 50px;
    }
}

.h{
    &-full{
        height: 100%;
    }
}

.text{
    &-center{
        text-align: center;
    }
}

// Element Plus
.el-popover{
    --el-popover-padding: 8px 14px;
    &.el-popper{
        min-width: auto;
        max-width: 350px;
    }
}
