.layout {
    position: relative;
    overflow: hidden;

    .layout__side{
        @apply bg-white h-[100vh] z-50;
    }

    .layout__main {
        background-color: rgb(242, 243, 245);
    }

    .layout__header {
        @apply bg-white w-full h-[60px];
        border-bottom: 1px solid rgb(229, 230, 235);
        transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
    }

    .layout__content {
        height: calc(100vh - 120px);
    }

    .layout__footer {
        @apply bg-white flex items-center justify-center pt-2 h-[48px];

    }
}
