.layout__header {
    background-color: $cl-white;
    border-bottom: 1px solid rgb(229, 230, 235);
    flex-shrink: 0;
    position: fixed;
    padding-left: 250px;
    padding-right: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    transition: all .2s cubic-bezier(.34, .69, .1, 1);
    z-index: 99;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &__left {
        display: flex;
        align-items: center;
        //padding-left: 4px;

        svg {
            fill: $cl-primary;
            cursor: pointer;
            width: 24px;
            transition: all 0.3s linear;
        }
    }

    &__right {
        display: flex;
        //padding-right: 20px;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
    }
}

.menu-collapse, .search, .full-screen, .dark-mode, .lang, .notify, .user-info {
    cursor: pointer;

    &:hover {
        outline: none;
        background-color: $cl-bg-hover;
    }

    &__icon {
        outline: none;

        &:hover {
            outline: none;
        }

        color: $cl-title;
    }
}

.notify {
    position: relative;

    &__badge {
        position: absolute;
        top: 10px;
        right: 0;
    }
}

.user-info {
    &__wrap {
        gap: 0.4rem;
        padding: 0 0.4rem;
    }

    &__avatar {
        background-color: $cl-container;
        border-radius: 50%;
        border: none;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-weight: $font-weight-semi-bold;
    }

    &__menu {
        padding: 0;

        &-item {
            color: #333;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.85rem;
            gap: 0.5rem;

            &:last-child {
                border-top: 1px solid #f7f7f7;
                padding: 1rem;
            }

            &:hover {
                a {
                    color: $cl-primary;
                }

                svg {
                    fill: $cl-primary;
                }
            }

            svg {
                fill: $cl-title;
                width: 20px;
            }

            a {
                color: $cl-title;
            }
        }
    }
}

