.side {
    height: 100%;
    overflow: auto;

    &__wrap{
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        transition: all .2s cubic-bezier(.34,.69,.1,1);
    }

    &__top{
        background-color: #000c17;
        display: flex;
        align-item: center;
        padding-left: 10px;
        height: 60px;
        transition: none!important;
        color: $cl-title;
        &-logo{
            display: flex;
            align-items: center;
            margin-right: 8px;
            width: 36px;
            object-fit: contain;
        }

        &-title{
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: $font-weight-bold;
        }
    }

    &__menu {
        background-color: #000c17;
        height: calc(100% - 60px)!important;
        transition: none;
        border: none;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        line-height: 1.5715;

        .ant-menu-item {
            font-size: 0.8rem;
            margin: 0;

            &::after {
                border-color: $cl-primary;
            }

            //   &.ant-menu-item-selected {
            //     background-color: transparent;
            //     margin: 0;
            //     a {
            //       color: $cl-primary;
            //     }
            //   }

            &.exact-active-link {
                background-color: rgba($cl-primary, 0.06);
                color: $cl-primary;
            }

            &:hover {
                color: $cl-primary;
            }
        }

        .ant-menu-submenu {
            &.ant-menu-submenu-active {
                .ant-menu-submenu-title {
                    color: $cl-primary;
                }

                .ant-menu-submenu-arrow {
                    color: $cl-primary;
                }
            }

            &.ant-menu-submenu-selected {
                background-color: transparent;
                color: $cl-primary;

                .ant-menu-submenu-arrow {
                    color: $cl-primary;
                }
            }

            .ant-menu-submenu-title {
                margin: 0;

                &:hover {
                    color: $cl-primary;

                    .ant-menu-submenu-arrow {
                        color: $cl-primary;
                    }
                }
            }
        }
    }
}

// Override menu ant deign
