.layout__footer {
    background-color: $cl-white;
    color: $cl-text;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 0.8rem;
    height: 48px;
    margin: 0;
    z-index:99;
}
