.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    &__wrap {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 100%;
        overflow: hidden;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
        margin-bottom: 2rem;

        &-logo {
            border-radius: 50%;
            border: 1px solid rgba($cl-text, 0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            padding: 1.2rem;
            margin-bottom: 1.2rem;
        }

        &-title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        &-subtitle {
            font-size: 1.2rem;
            text-align: center;
            margin: 0 0 1.5rem;
            max-width: 30rem;
        }
    }

    &__form {
        flex: 1;
        max-width: 28rem;
        margin-bottom: 4rem;
        width: 100%;

        .btn-submit {
            width: 100%;
        }

        .btn-login--social{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__left {
        background-image: url("@/assets/images/bg-noise-50.png"), linear-gradient(#007aff 5%, #e0eaf8 70%, #e5ecf7 20%);
        background-position: 0 0;
        background-size: 200px auto;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        transition: all .3s ease-in;
        animation: fadeLeft 0.4s ease-in;

        &--bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: hard-light;
            z-index: 2;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translate(-50%, -50%) scale(2.5);
            }
        }

        .swiper {
            padding: 4rem 2rem;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        transition: all .3s ease-in;
        animation: fadeRight 0.4s ease-in;

        .auth__subtitle {
            max-width: 30rem;
        }

        .form {
            max-width: 30rem;
            width: 100%;

            &__group {
                margin-bottom: 1.2rem;
            }
        }
    }
}

@keyframes fadeLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(100%);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
