$hsl: 270;

$cl-red: hsl(0, 86%, 57%);
$cl-green: hsl(155, 67%, 45%);
$cl-yellow: hsl(54, 89%, 64%);

$cl-primary: hsl($hsl, 50%, 40%);
$cl-secondary: hsl($hsl, 87%, 54%);
$cl-alt: hsl($hsl, 89%, 60%);

$cl-lighter: hsl(0, 0%, 100%);
$cl-container: hsl(210, 25%, 97%);

$cl-title: hsl(0, 0%, 20%);
$cl-text: #454545;
