html, body {
    @apply bg-[#f7f8f9] text-[#345] font-normal font-en w-full h-full p-0 m-0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    transition: all 0.4s;
    overflow: hidden;
}

:lang(en) {
    body {
        @apply font-en;
    }
}

:lang(vi) {
    body {
        @apply font-vi;
    }
}

:lang(ja) {
    body {
        @apply font-ja;
    }
}

a {
    color: currentColor;
    text-decoration: none;
}

.title {
    @apply font-medium text-xl;
}

.bg {
    &-primary {
        @apply bg-blue-500/10;
    }

    &-secondary {
        @apply bg-purple-500/10;
    }

    &-info {
        @apply bg-orange-500/10;
    }

    &-warning {
        @apply bg-indigo-500/10;
    }

    &-danger {
        @apply bg-red-500/10;
    }

    &-success {
        @apply bg-green-500/10;
    }
}

.text {
    &-success {
        @apply text-green-500;
    }

    &-danger {
        @apply text-red-500;
    }
}

// Media
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input, textarea, select {
        font-size: 16px;

        &:focus {
            font-size: 16px;
        }
    }

}

//Animation
.shake {
    animation: shake 0.8s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-play-state: paused;
    transform: translate3d(0, 0, 0);

    &:hover {
        animation-play-state: running;
    }
}

@keyframes shake {
    30%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(1px, 0, 0);
    }
}
